$('#post_form').remove();
$('#new_link').show();
$('#posts').append("<li><h1><%= @post.title  %></h1><ul class='questions'><% @post.questions.each do |question| %><div class='question'><li><%= question.content %> </li> </div><% end %></ul>");
