<% if @posts.any? %>
<div>
  <ul id="posts">
    <% @posts.each do |post| %>
      <%= render post %>

    <% end %>
  </ul>
</div>

<% else %>
 <p> No posts yet. </p>
<% end %>

<p>
  <%= link_to "New Post", new_post_path, id: "new_link", remote: true %>
</p>
